
*.asv
data_table_form/honest_irrelevant.mat
data_table_form/honest_probe.mat
data_table_form/honest_target.mat
data_table_form/lying_irrelevant.mat
data_table_form/lying_probe.mat
data_table_form/lying_target.mat
functions/data_subject.mat
functions/final_data.mat
functions/final_data_4_channels.mat
functions/feature_extraction_no_ground.xlsx
*.xlsx
